 .u-section-1 {
  background-image: linear-gradient(#77aad9, #72efe9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1991px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-table-1 {
  width: 838px;
  margin: 0 auto;
}

.u-block-1d85-12 {
  height: 46px;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-17 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-21 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-25 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-29 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-33 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-37 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-41 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-45 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-section-1 .u-table-cell-49 {
  border-style: solid;
  margin: -95px auto 60px 415px;
  padding: 0;
}

.u-block-1d85-31 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: -648px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 30px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 16px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: 20px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  margin: 15px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  margin: 18px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  margin: 318px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  margin: -90px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  margin: -96px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  margin: -204px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  margin: 90px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  margin: -94px 240px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-text-3 {
  margin: 33px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-cell-13 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-17 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-21 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-25 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-33 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-37 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-45 {
    margin-left: 215px;
  }

  .u-section-1 .u-table-cell-49 {
    margin-left: 215px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 40px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-table-cell-13 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-17 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-21 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-25 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-29 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-33 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-37 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-41 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-45 {
    margin-left: 0;
  }

  .u-section-1 .u-table-cell-49 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}