 .u-section-1 {
  background-image: linear-gradient(#77aad9, #72efe9);
}

.u-section-1 .u-sheet-1 {
  min-height: 1979px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-table-1 {
  width: 647px;
  margin: 11px auto 0;
}

.u-block-3e5d-12 {
  height: 46px;
}

.u-block-3e5d-27 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: -361px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 20px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 15px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: 13px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  margin: 15px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  margin: 20px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  margin: 15px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  margin: 13px 312px 0 auto;
  padding: 0 8px;
}

.u-section-1 .u-text-3 {
  margin: 40px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 112px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 112px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 112px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 112px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 112px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 112px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 112px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    width: 340px;
  }
}